@import url('https://fonts.googleapis.com/css?family=Quicksand:200,400|Roboto|Fira+Code|Rubik:400&dipslay=swap');

html{
    background: linear-gradient(
        var(--color-blu) 0%,
        var(--color-blu) 40%,
        var(--bg-alt) 40%,
        var(--bg-alt) 100%
    );
}


body div {
    border-radius: 0.5em;
}

#main-center-me {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wave-container {
    position: absolute;
    text-align: center;
    overflow: hidden;
    width: 100%;
    border-radius: 0;
}

.wave-container svg {
    display: block;
    filter: drop-shadow(3px 3px 5px var(--lite-bg));
}

.wave-container path {
    fill: var(--color-blu);
}
#wave2 path {
    fill: var(--color-cyan);
}
#wave3 path {
    fill: var(--color-em);
}
#wave4 path {
    fill: var(--color-yellow);
}
#wave4 {
    z-index: -4;
}
#wave3 {
    z-index: -3;
    /* margin-top: 50px; */
}
#wave2 {
    z-index: -2;
    /* margin-top: 20px; */
}
#wave1 {
    /* margin-top: 20px; */
    z-index: -1;
}

.break {
    flex-basis: 100%;
}

h1{
    /* padding-bottom: 20px; */
    font-size: 3em;
    text-align: center;
    font-weight: 100;
    /* text-shadow: 5px 5px 5px black; */
}

#footer {
    background: var(--lite-bg);
}

#main-wrapper {
    text-align: center;
    padding: 35px;
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 30vw;
    min-width: 500px;
    height: 20vh;
    min-height: unset;
    background: var(--bg);
    z-index: 1;
    /* border: 3px solid var(--color-blu); */
}
#main-wrapper h3 {
    color: var(--color-fg);
    text-shadow: 1px 1px 3px var(--color-yellow);
    padding: 1em;
}

.rainbow-text {
    background-image: linear-gradient(to right, var(--color-blu), var(--color-em));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

#main-linkbox {
    background: var(--bg-alt);
    max-width: 70vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
}

#main-linkbox a{
    display: inline-flex;
    font-size: 1.2em;
    padding: 10px;
    margin: 5px;
    flex-grow: 1;
    justify-content: center;
}

#main-wrapper #blurb {
    color: var(--color-fg-faded);
}