@import url('https://fonts.googleapis.com/css?family=Raleway:200,400|Roboto|Fira+Code&display=swap');
/** Variables **/

:root {
    --bg: #23272A;
    --lite-bg: #2C2F33;
    --color-blu: #7289DA;
    --color-fg: #ccc;
    --color-em: #da7289;
    --color-fg-bright: #fff;
    --color-fg-faded: #999;
    --color-yellow: #dac372;
    --color-cyan: #72dac3;
    --color-green: #89da72;
}

body {
    font-family: "Roboto", sans-serif;
}

html {
    --scroll-behavior: smooth;
    scroll-behavior: smooth;
    background-color: var(--bg);
    color: var(--color-fg);
}

a {
    transition: 0.3s ease-in-out;
    color: var(--color-blu);
    text-decoration: none;
}

a:hover,
a:visited:hover {
    transition: 0.3s ease-in-out;
    color: var(--color-fg);
}

a:visited {
    color: var(--color-blu);
}

h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway";
    font-weight: lighter;
    margin: 5px;
}
hr {
    border-style: solid;
    border-bottom: 1px;
    color: var(--lite-bg);
    margin-top: 50px;
    margin-bottom: 50px;
} 
code {
    font-family: "Fira Code", monospace;
    font-size: 0.8em;
    background: var(--bg);
    color: var(--color-fg-bright);
    padding: 3px;
    border: 1px solid var(--color-blu);
    box-shadow: 5px 3px 5px black;
    border-radius: 0.3em;
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
    background: var(--bg);
    border-radius: 0.5em;
    padding: 10px;
    font-size: 0.7em;
    font-family: "Fira Code", monospace;
}

.to-top {
    padding: 10px;
    border-radius: 0.3em;
    position: fixed;
    background: var(--bg);
    bottom: 15px;
    right: 15px;
    opacity: 0.7;
    transition: 0.5s ease all;
    z-index: 9;
}
.to-top:hover,
.to-top:active {
    transition: 0.5s ease all;
    opacity: 1;
}
.to-top * {
    color: var(--color-yellow);
}
.fade {
    color: var(--color-fg-faded) !important;
}
.noteBox {
    width: 450px;
    background: var(--bg);
    border-radius: 0.3em;
    margin: 5px;
    padding: 10px;
    border: 2px solid var(--color-em);
}
.ul-lmi-pro > li {
    list-style-image: url(../images/lmi.png);
}
.ul-lmi-av > li {
    list-style-image: url(../images/lmiav.png);
}
.ul-hamachi > li {
    list-style-image: url(../images/hamachi.png);
}
.ul-g2p > li {
    list-style-image: url(../images/g2p.png);
}

#home {
    min-height: 100vh;
}

li {
    padding: 0.3em 0 0.5em 0;
}

img {
    margin: 10px;
    border-radius: 0.5em;
}

.em {
    color: var(--color-em);
    font-variant: sm;
}

.hidden {
    left: -100vw;
    position: absolute;
    transition: 0.5s ease all;
}

.main {

}

#prorate-button,
#cpbtn,
button {
    position: relative;
    border-radius: 0.3em;
    padding: 0.5em;
    font: 15px "Roboto", sans-serif;
    background: var(--bg);
    color: var(--color-fg);
    border: 2px solid var(--color-blu);
    box-shadow: 3px 3px 5px black;
    transition: 0.3s ease-in-out;
}

#menu {
    position: fixed;
    color: var(--color-blu);
    align-self: right;
    background: transparent;
    border: 0;
    outline: none;
    display: inline-block;
    padding: 5px;
    right: 0;
}

.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
    background-color: var(--color-blu)!important;
}

#sidebar-menu {
    width: auto;
    z-index: 2;
    background: var(--bg);
    position: fixed;
    top: 45px;
    right: -300px;
    padding: 20px;
    height: 100vh;
    transition: 0.5s ease-in-out;
    box-shadow: -2px 5px 5px black;
    border-radius: 0.5em;
}
#sidebar-menu a {
    display: block;
    padding: 3px;
}

.show {
    right: -2px !important;
    transition: 0.5s ease-in-out;
}

#prorate-button:hover,
#cpbtn:hover,
button:hover {
    cursor: pointer;
    transition: 0.3s ease-in-out;
    box-shadow: none;
}

#hidden-items-img,
#hamachi-folder-img {
    width: 700px;
}
.logo {
    width: 100px;
    margin: auto;
}

#logo-footer {
    align-self: right;
    float: right;
    margin-right: 10px;
    vertical-align: bottom;
}
#footer {
    padding: 20px;
}

.top-menu {
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 0.5em;
    position: fixed;
    z-index: 2;
    background-color: var(--bg);
    overflow-x: hidden;
    padding: 5px;
}

.top-menu a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    display: inline-block;
}

.top-menu a:hover {
    color: var(--color-fg);
}

.main {
    margin: auto;
    /* Same as the width of the sidenav */
    display: flex;
    width: auto;
    border-radius: 0.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
    min-height: 100vh;
    height: auto;
    background: var(--lite-bg);
    transition: 0.5s ease all;
    padding: 80px 10px 10px 10px;
    margin-bottom: 10px;
}

#menu {
    box-shadow: none;
}

.shadow {
    box-shadow: 5px 5px 5px black;
}

#footer {
    background: var(--lite-bg);
    border-radius: 0.5em;
}

#g2p-mac-cmd-copy {
    margin-top: 0.5em;
}