@import "main.css"; 

#calculator {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
}

label {
    font-family: "Roboto";
    color: var(--color-fg);
}

textarea {
    font-family: "Fira Code", monospace;
}
input,
textarea,
select {
    padding: 5px;
    border-radius: 0.2em;
    background: var(--lite-bg);
}

#prorate-result {
    background: var(--lite-bg);
    border-radius: 0.3em;
}

.result {
    width: auto;
    padding: 5px;
    margin: 20px;
    color: var(--color-green);
}

.break {
    flex-basis: 100%;
    height: 0;
}
.date-picker,
input {
    font-family: "Roboto", sans-serif;
    font-size: 1em;
    border: 0;
    color: var(--color-fg);
    margin: 20px;
}

#calculator {
    margin-top: 50px;
    flex-direction: column;
}

#calculator i {
    color: var(--color-fg);
    /* width: 100%; */
    align-content: flex-start;
}

#calc-container {
    text-align: right;
    border-radius: 0.3em;
    padding: 2em;
    background: var(--bg);
}

#prorate-button {
    margin: 20px;
}

h1 {
    /* padding-top: 80px; */
    padding: 30px;
}

code {
    padding: 10px;
}

/* Log Analyzer bits ---------------------------------- */
#log-analyzer h2 {
    text-align: left;
}
#log-analyzer-container,
#editor-sidebar-container,
#editor-sidebar-top,
#editor-conatainer{
    display: flex;
    align-items: stretch;
    margin: 3vh;
}

#log-analyzer-container,
#editor-sidebar-container-top {
    flex-direction: row;
    align-items: stretch;
}

#editor-sidebar-container{
    flex-direction: column;
    align-items: stretch;
}

#editor-sidebar-container {
    max-width: 25vw;
    align-items: stretch;
}

#editor-sidebar-container-top {
    justify-content: flex-start;
    align-items: stretch;
}
#editor-sidebar-bottom {
    width: 100%;
    align-items: stretch;
}

#log-analyzer pre {
    display: flex;
    text-align: left;
}

.la-filter-list {
    width: 100%;
    margin: 1vh;
}

#editor-container {
    max-width: 75vw;
    min-width: 50vw;
}

#la-file-upload {
    width: 200px;
    height: 50px;
    background-color: var(--bg);
}

/* Escy formatter bits */

#escy-formatter-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: var(--bg);
    margin: 0.5em;
    border-radius: 0.3em;
}

#escy-formatter-wrapper * {
    margin: 10px;
}

#escy-formatter-wrapper textarea {
    min-width: 400px;
    max-width: 400px;
    min-height: 70px;
    max-height: 300px;
    /* resize: none; */
    color: var(--color-fg);
    border: 0;
}

#escy-formatter-wrapper select {
    border: 0;
    color: var(--color-fg);
}

#escy-formatter-wrapper-left,
#escy-formatter-wrapper-right {
    display: flex;
    flex-direction: column;
}